1.Write a Python program find a list of integers with exactly two occurrences of nineteen and at least three occurrences of five.

Input: [19, 19, 5, 5, 5, 5, 5]
Output:
True

Input: [19, 15, 15, 5, 3, 3, 5, 2]
Output:
False

In [ ]:
p=input("Enter the elements in list a = ")
a=[]
if a.count(19)==2 and a.count(5)<=3:
  print("True")
else:
  print("False")

Enter the elements in list a = 19,19,5,5,5,5,5
False

2.Write a Python program that accept a list of integers and check the length and the fifth element. Return true if the length of the list is 8 and fifth element occurs thrice in the said list. 

Input:
[19, 19, 15, 5, 5, 5, 1, 2]
Output:
True

Input:
[19, 15, 5, 7, 5, 5, 2]
Output:
False

In [ ]:
a=[19,19,15,5,5,5,1,2]

3.Write a Python program to split a string of words separated by commas and spaces into two lists, words and separators. 

Input: The dance, held in the school gym, ended at midnight.

Output:
[['The', 'dance', 'held', 'in', 'the', 'school', 'gym', 'ended', 'at', 'midnight.'], [' ', ', ', ' ', ' ', ' ', ' ', ', ', ' ', ' ']]

4.Write a Python program to find missing numbers from a list. 

Input : [1,2,3,4,6,7,10]

Output : [5, 8, 9]

In [ ]:
a=[1,2,3,4,6,7,10]
b=[]
for i in range(a[0],a[6]):
    if i not in a:
        b.append(i)
print(b)

[5, 8, 9]

5.Write a Python program to push all zeros to the end of a list. 

Input : [0,2,3,4,6,7,10]

Output : [2, 3, 4, 6, 7, 10, 0]

In [ ]:
a=[0,0,0,0,0,0,2,3,4,0,0,0,0,6,7,10]
for i in a:
    if (i==0):
      a.remove(i)
      a.append(i)
print(a)

[2, 3, 4, 6, 7, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
var1 = " The dance, held in the school gym, ended at midnight"
list1 = []
list2 = []
list3 = []
list4 = []

var2 = var1.split(",")
print(var2)

for i in range(len(var2)):
  list2.append(",")
print(list2)

for i in var2:
  list1.append(i.split(" "))
print(list1)

for i in list1:
  for j in i:
    if j.isalpha() == True:
      list3.append(j)
    else:
      list4.append(j)
print("List1 :-",list3,"\nlist2:- ",list4+list2)

[' The dance', ' held in the school gym', ' ended at midnight']
[',', ',', ',']
[['', 'The', 'dance'], ['', 'held', 'in', 'the', 'school', 'gym'], ['', 'ended', 'at', 'midnight']]
List1 :- ['The', 'dance', 'held', 'in', 'the', 'school', 'gym', 'ended', 'at', 'midnight']
list2:-  ['', '', '', ',', ',', ',']