**Given a list, write a Python program to swap first and last element of the list.**

Examples: 

Input : [12, 35, 9, 56, 24]
Output : [24, 35, 9, 56, 12]

Input : [1, 2, 3]
Output : [3, 2, 1]

In [4]:
def swapList(newList):
    size = len(newList)
     
    # Swapping
    temp = newList[0]
    newList[0] = newList[size - 1]
    newList[size - 1] = temp
     
    return newList

newList = [12, 35, 9, 56, 24]
 
print(swapList(newList))

[24, 35, 9, 56, 12]

**WAP to find length of list**

The list is : [1, 4, 5, 7, 8]

Length of list is : 5

In [ ]:
a = [1,4,5,7,8]
cnt=0
for i in a:
  cnt+=1
print("Length of list is :",cnt)

Length of list is : 5

**WAP to Check if element exists in list**

Checking if 4 exists in list : 

Element Exists

In [ ]:
a=[1.5,6,7]
if 4 in a:
  print("Element Exists")
else:
  print("Element not Exists")

Element not Exists

**WAP to clear a list**

before clear: [6, 0, 4, 1]

after clear : []

In [ ]:
b= [6, 0, 4, 1]
del b[:]
print(b)

[]

In [ ]:
b= [6, 0, 4, 1]
b.clear()
print(b)

[]

In [ ]:
b= [6, 0, 4, 1]
b*=0
print(b)

[]

**WAP to Reversing a List**

Input : list = [10, 11, 12, 13, 14, 15]

Output : [15, 14, 13, 12, 11, 10]
 
Input : list = [4, 5, 6, 7, 8, 9]

Output : [9, 8, 7, 6, 5, 4]

In [ ]:
a = [10, 11, 12, 13, 14, 15]
a.reverse
print(a)

[10, 11, 12, 13, 14, 15]

**Given a list of numbers, write a Python program to find the sum of all the elements in the list.**

Example:
 
Input: [12, 15, 3, 10]

Output: 40
 
Input: [17, 5, 3, 5]

Output: 30

**Given a list of numbers, the task is to write a Python program to find the second largest number in the given list.**

Examples:

Input: list1 = [10, 20, 4]

Output: 10

Input: list2 = [70, 11, 20, 4, 100]

Output: 70

**Given a list of integers, the task is to find N largest elements assuming size of list is greater than or equal o N.**

Examples :

Input : [4, 5, 1, 2, 9]  
         N = 2

Output :  [9, 5]
 
Input : [81, 52, 45, 10, 3, 2, 96]  
        N = 3

Output : [81, 96, 52]

**Given a list of numbers, write a Python program to remove multiple elements from a list based on the given condition.**

Example:

Input: [12, 15, 3, 10]

Output: Remove = [12, 3], New_List = [15, 10]
 
Input: [11, 5, 17, 18, 23, 50]

Output: Remove = [1:5], New_list = [11, 50]

---------------------------------------------------------
Input : lst = [15, 6, 7, 10, 12, 20, 10, 28, 10] 
         x = 10

Output : 3

10 appears three times in given list.
 
Input : lst = [8, 6, 8, 10, 8, 20, 10, 8, 8] 
        x = 16

Output : 0

**Given a list of integers with duplicate elements in it. The task to generate another list, which contains only the duplicate elements. In simple words, the new list should contain the elements which appear more than one.**

Examples :

Input : list = [10, 20, 30, 20, 20, 30, 40, 50, -20, 60, 60, -20, -20]

Output : output_list = [20, 30, -20, 60]
 
 
Input :  list = [-1, 1, -1, 8]

Output : output_list = [-1]

**Python program to find Cumulative sum of a list
The problem statement asks to produce a new list whose i^{th} element will be equal to the sum of the (i + 1) elements.**

Examples :
 
Input : list = [10, 20, 30, 40, 50]

Output : [10, 30, 60, 100, 150]
 
Input : list = [4, 10, 15, 18, 20]

Output : [4, 14, 29, 47, 67]

In [ ]:
list1 = [10, 20, 30, 40, 50]
a=0
list2=[]
for i in range(0,len(list1)):
    a+=list1[i]
    list2.append(a)
print(list2)

[10, 30, 60, 100, 150]

In [ ]:
list1 = [10, 20, 30, 40, 50]
list2=[]
for i in range(0,len(list1)):
    if i!=0:
        a=list2[i-1]+list1[i]
        list2.append(a)
    else:
        list2.append(list1[i])

print(list2)

[10, 30, 60, 100, 150]

**Break a list into chunks of size N in Python**

Input: [1, 2, 3, 4, 5,6, 7, 8, 9]

Output: [[1, 2, 3, 4], [5, 6, 7, 8], [9]]

In [ ]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]

**Remove common elements from two list in Python**

In [8]:
def remove_common(a, b):
  
    for i in a[:]:
        if i in b:
            a.remove(i)
            b.remove(i)
  
    print("list1 : ", a)
    print("list2 : ", b)

if __name__ == "__main__":
  
    a = [1, 2, 3, 4, 5]
    b = [4, 5, 6, 7, 8]
  
    remove_common(a, b)

list1 :  [1, 2, 3]
list2 :  [6, 7, 8]